body{
    background-color: aliceblue;
    background-image: url("images/food.png");
    width: 93vw;
}

#test {
    padding-left: 1.5%;
}

#center {
    text-align: center;
}

.gif {

    margin: 0 260px;
    width: 380px;
    height: auto;
}

.btn-holder {

    position: relative;
    left: 370px;

}

h1,
h2 {
    text-align: center;
}

h1 {
    margin: 20px 0 15px;
}

p {
    font-size: 20px
}

.question-holder {
    padding: 0 60px;
}

.answer-btn {
    padding: 0 75px;
}

#end {
    text-align: center;
    font-size: 18px;
}

.container {
    border-radius: 25px;
    border: 2px solid darkgrey;
    background-color: whitesmoke;
    margin-bottom: 20px;
    width: 900px;
    height: 90vh;
    position: relative;
    background-image: url("images/squairy.png");

}

#answer-0,
#answer-1,
#answer-2,
#answer-3 {
    cursor: pointer;


}

#answer-0:hover,
#answer-1:hover,
#answer-2:hover,
#answer-3:hover {
    /* color: yellow; */
    text-shadow: 2px 2px 5px darkgrey;
    text-decoration: underline;
    transition: 0.4s;
  }